html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: "Roboto", sans-serif;
	color: #424242;
	height: 100%;
}

.container {
	padding: 1rem;
	display: flex;
	flex-direction: row;
	min-height: 100%;
}

.section {
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

@media only screen and (max-width: 1080px) {
	.container {
		flex-direction: column;
		margin-bottom: 3rem;
	}
	.section {
		width: 100%;
	}
}

.avatar {
	width: 95%;
	max-width: 600px;
	margin-bottom: 3rem;
}

h1 {
	font-size: 4rem;
}

button {
	font-size: 1rem;
	text-align: left;
	display: inline-block;
	border: none;
	margin: 0;
	text-decoration: none;
	cursor: pointer;
	transition: box-shadow 100ms;
	-webkit-appearance: none;
	-moz-appearance: none;
	width: 15rem;
	height: 3rem;
	margin: 0.5rem;
	outline: none;
	border-radius: 5px;
	color: #fafafa;
	vertical-align: middle;
	font-weight: bold;
}

button:hover,
button:focus {
	filter: brightness(120%);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button:focus {
	box-shadow: none;
}

a {
	margin-bottom: 1rem;
}

.fab,
.fas {
	margin-left: 2rem;
	margin-right: 3rem;
	width: 1rem;
	font-size: 1.2rem;
}

.r4ce {
	background: #c62828;
	width: 20rem;
	height: 5rem;
	font-size: 2.5rem;
	text-align: center;
	font-family: "Lilita One";
	letter-spacing: 0.1rem;
}

.email {
	background: #ffffff;
	color: #424242;
	border: 1px solid #424242;
}

.facebook {
	background: #3b5998;
}

.github {
	background: #24292e;
}

.instagram {
	background: linear-gradient(90deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}

.linkedin {
	background: #0077b5;
}

.strava {
	background: #fc4c02;
}

.tiktok {
	background: linear-gradient(90deg, #69c9d0 0%, #ee1d52 100%);
}

.twitch {
	background: #9146ff;
}

.twitter {
	background: #1da1f2;
}

.youtube {
	background: #ff0000;
}
