:root {
	--black: #000000f2;
	--grey: #ffffff80;
	--white: #fffffff2;
	--transition: 0.5s;
}
html {
	overflow-y: scroll;
}
body {
	margin: 0;
	font-family: "Roboto", sans-serif;
	background: var(--black);
	color: var(--white);
}
a {
	text-decoration: inherit;
	color: inherit;
}
.container {
	max-width: 1920px;
	margin: auto;
}
.fullHeight {
	min-height: 100vh;
}
.padding {
	padding: 5rem;
}
.hidden {
	display: none !important;
}
#main {
	display: flex;
}

/* LOADING ----------------------------------------------- */

.loading {
	justify-content: center;
	align-items: center;
}
#logo {
	max-height: 10rem;
	opacity: 0;
}

/* HERO -------------------------------------------------- */

#hero {
	flex: 1;
	display: flex;
	flex-direction: column;
}
#hero h1 {
	font-family: "Roboto Condensed", "Roboto", sans-serif;
	font-size: 5rem;
	font-weight: 900;
	margin: 0;
}
#hero h2 {
	margin: 0.5rem 0 0 0;
	font-weight: 100;
	color: var(--grey);
}
#hero h3 {
	margin-top: 0.5rem;
	color: #c41f1f;
	/* color: #77c41f; */
}
#hero h3 svg {
	position: relative;
	top: 0.5rem;
	height: 2rem;
	margin-right: 1rem;
}
#hero .avatar {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}
#hero .avatar img {
	width: 90%;
	max-width: 30rem;
}
#hero .icons {
	/* flex: 1; */
	display: flex;
	align-items: flex-end;
}
#hero .icons a {
	margin-right: 2rem;
}
#hero .icons svg {
	color: hsla(0, 0%, 100%, 0.502);
	height: 1.5rem;
	transition: var(--transition);
}
#hero .icons svg:hover {
	color: var(--white);
}

/* EXPERIENCE -------------------------------------------- */

#experience h1 {
	font-size: 4rem;
	font-family: "Roboto Condensed", "Roboto", sans-serif;
}
#experience #tags {
	margin-bottom: 4rem;
}
#experience #tags span {
	font-size: 1.2rem;
	border: 0.15rem solid var(--white);
	padding: 0.3rem 1rem 0.3rem 1rem;
	cursor: pointer;
	border-radius: 100rem;
	transition: var(--transition);
	line-height: 3rem;
}
@media (min-width: 901px) {
	#experience #tags span:hover {
		color: rgba(0, 0, 0, 0.95);
		background: var(--white);
	}
}
#experience #tags span.selected {
	color: rgba(0, 0, 0, 0.95);
	background: var(--white);
}
#experience #list .bloc {
	background: #ffffff0d;
	margin: 2rem 0 2rem 0;
	border-radius: 0.5rem;
	padding: 2rem;
	display: flex;
	flex-direction: column;
}
#experience #list .bloc h2 {
	margin-top: 0;
	margin: 0;
}
#experience #list .bloc .firstLine {
	display: flex;
	justify-content: space-between;
}
#experience #list .bloc a {
	width: 1.5rem;
	color: var(--grey);
	transition: var(--transition);
}
#experience #list .bloc a:hover {
	color: var(--white);
}
#experience #list .bloc .infos {
	margin: 0.5rem 0 2rem 0;
}
#experience #list .bloc .infos,
#experience #list .bloc .date {
	color: var(--grey);
}
#experience #list .references {
	margin-top: 2rem;
}
#experience #list .tags {
	padding: 2.5rem 0 0 0;
	text-align: end;
}
#experience #list .tags span {
	font-size: 0.9rem;
	border: 0.1rem solid var(--white);
	padding: 0.3rem 0.6rem 0.3rem 0.6rem;
	border-radius: 100rem;
	line-height: 2.5rem;
}

/* SMALL SCREEN ------------------------------------------ */

@media (max-width: 900px) {
	.padding {
		padding: 1rem;
	}
	#hero h1 {
		font-size: 3rem;
	}
	#experience h1 {
		font-size: 2.5rem;
	}
	#experience #tags {
		margin-bottom: 2rem;
	}
	#experience #tags span {
		font-size: 1rem;
		border: 0.1rem solid var(--white);
		padding: 0.3rem 1rem 0.3rem 1rem;
		line-height: 2.5rem;
	}
	#experience #list .bloc {
		margin: 1rem 0 1rem 0;
		padding: 1rem;
	}
}
