html,
body {
    font-family: "Roboto", sans-serif;
    text-align: center;
    background: #FAFAFA;
    color: #424242;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 15rem;
    background: #C62828;
}

.profile {
    position: relative;
    width: 20rem;
    height: auto;
    border-radius: 50%;
    border: 5px solid #FAFAFA;
    z-index: 1;
    background: #FAFAFA;
}

h1 {
    font-size: 3rem;
}

button {
    font-size: 1rem;
    text-align: left;
    display: inline-block;
    border: none;
    margin: 0;
    text-decoration: none;
    cursor: pointer;
    transition: box-shadow 100ms;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 15rem;
    height: 3rem;
    margin: .5rem;
    outline: none;
    border-radius: 2px;
    color: #FAFAFA;
    vertical-align: middle;
    font-weight: bold;
}

button:hover,
button:focus {
    filter: brightness(85%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button:focus {
    box-shadow: none;
}

.fab,
.fas {
    margin-left: 2rem;
    margin-right: 3rem;
    width: 1rem;
    font-size: 1.2rem;
}

.r4ce {
    background: #C62828;
    width: 20rem;
    height: 5rem;
    font-size: 1.5rem;
}

.raceforfun .fab {
    margin-left: 3rem;
}

.email {
    background: #FFFFFF;
    color:#424242;
    border: 1px solid #424242;
}

.facebook {
    background: #3B5998;
}

.github {
    background: #24292e;
}

.instagram {
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}

.linkedin {
    background: #0077B5;
}

.medium{
    background: #00ab6c;
}

.meetup{
    background: #e0393e;
}

.patreon {
    background: #F96854;
}

.soundcloud {
    background: #FF8800;
}

.strava {
    background: #FC4C02;
}

.twitter {
    background: #1DA1F2;
}

.youtube {
    background: #FF0000;
}
