---
import Layout from '@/layouts/Layout.astro'
---

<Layout>
    <h1>404 Not Found</h1>
    <div class='dynamic-pt flex flex-row justify-center'>
        <a href='/' class='flex flex-row'> &lt;- Retour</a>
    </div>
</Layout>
