---
import { Icon } from 'astro-icon'
import Layout from '@/layouts/Layout.astro'
import Card from '@/components/Card.astro'
import '@/styles/socialColors.css'

const links = [
    { name: 'youtube', url: 'https://www.youtube.com/@AntoineKahlouche' },
    { name: 'twitch', url: 'https://www.twitch.tv/antoinekahlouche' },
    { name: 'tiktok', url: 'https://www.tiktok.com/@antoinekahlouche' },
    { name: 'instagram', url: 'https://www.instagram.com/antoinekahlouche' },
    { name: 'twitter', url: 'https://www.twitter.com/antoinekahlouch' },
    { name: 'linkedin', url: 'https://www.linkedin.com/in/antoinekahlouche' },
    { name: 'github', url: 'https://www.github.com/antoinekahlouche' },
    { name: 'facebook', url: 'https://www.facebook.com/antoinekahlouche' }
    // { name: 'medium', url: 'https://medium.com/@AntoineKahlouche' },
    // { name: 'spotify', url: 'https://medium.com/@AntoineKahlouche' },
    // { name: 'podcast', url: 'https://medium.com/@AntoineKahlouche' }
]
---

<Layout>
    <h1>Liens</h1>
    <div class='dynamic-pt grid grid-cols-4 md:grid-cols-5 lg:grid-cols-6 xl:grid-cols-7 2xl:grid-cols-8 gap'>
        {
            links.map((link) => (
                <a href={link.url} target='_blank' class='text-text-primary'>
                    <Card noPadding class={'aspect-square flex align-middle justify-center ' + link.name}>
                        <Icon name={link.name} class='w-1/2' />
                    </Card>
                </a>
            ))
        }
    </div>
</Layout>
