---
import { Icon } from 'astro-icon'
---

<footer class='dynamic-py m-auto opacity-20'>
    <Icon name='ak' class='m-auto h-8' />
    <div class='text-xs text-center mt-4 font-heading'>
        Antoine Kahlouche, pour le code
        <br />
        Marion Messana, pour le contenu
    </div>
</footer>
