---
import { Icon } from 'astro-icon'

export const navs = [
    { name: 'Projets', href: '/projects' },
    { name: 'Liens', href: '/links' },
    { name: 'A propos', href: '/about' }
]
// live
// newsletter
// shop : support, course
// faq
---

<header class='dynamic-py'>
    <nav class='flex justify-between sm:justify-start'>
        <a class='dynamic-pr' href='/'>
            <Icon name='ak' class='text-text-primary h-10' />
        </a>
        <div class='mt-5 hidden sm:block'>
            {
                navs.map((nav) => (
                    <a class='dynamic-px' href={nav.href}>
                        {nav.name}
                    </a>
                ))
            }
        </div>
        <div class='self-end sm:hidden'>
            <a id='open-menu-icon'>
                <Icon name='bars-solid' class='text-text-primary h-6 m-2' />
            </a>
        </div>
    </nav>
</header>


<div id="menu" class="z-10 absolute top-0 right-0 bottom-0 left-0" style="visibility:hidden;">
    <header class='dynamic-py'>
        <nav class='flex justify-end'>
            <a id='close-menu-icon'>
                <Icon name='xmark-solid' class='text-text-primary h-6 m-2' />
            </a>
        </nav>
    </header>
    <h1>Menu</h1>
    <div class='dynamic-pt'>
        {
            navs.map((nav) => (
                <h2 class='text-center'>
                    <a class='dynamic-px' href={nav.href}>
                        {nav.name}
                    </a>
                </h2>
            ))
        }
    </div>
</div>

<script>
    const menu  = document.getElementById('menu')
    document.getElementById('open-menu-icon')?.addEventListener(
        'click',
        function () {
            if(!menu) return
            menu.style.visibility = "visible";
        },
        false
    )
    document.getElementById('close-menu-icon')?.addEventListener(
        'click',
        function () {
            if(!menu) return
            menu.style.visibility = "hidden";
        },
        false
    )
</script>
