---
import Layout from '@/layouts/Layout.astro'
import Card from '@/components/Card.astro'

const projects = await Astro.glob('./*.md')
---

<Layout>
    <h1>Projets</h1>
    <div class='dynamic-pt grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 gap'>
        {
            projects
                .map((p) => p.frontmatter)
                .sort((fm1, fm2) => (fm1.order < fm2.order ? 1 : -1))
                .map((fm) => (
                    <a href={'/projects/' + fm.ref}>
                        <Card class='fade-in relative aspect-[16/9]' img={fm.img}>
                            <div class:list={[fm.chipBgClass, 'absolute top-3 right-3 text-xs font-black text-text-primary py-1 px-2 drop-shadow rounded-lg']}>{fm.status.toUpperCase()}</div>
                        </Card>
                    </a>
                ))
        }
    </div>
</Layout>
